@import url("/bower_components/bootstrap/dist/css/bootstrap.css"); /*bootstrap css*/

/* all anchor link colors */
a {
    color: #732953;
}

/* all btn info colors are purple */
.btn-info {
    background-color: #732953;
    border-color: #732953;
    min-width: 100px; }

.btn-info:focus, .btn-info:active, .btn-info:hover {
    background-color: #732953;
    border-color: #732953;
}

/* header colors set to green */
h1,h2,h3 {
    color: #a7ae1e;
}
/* add padding to username as there is no anchor link and set to color to purple */
.addPadding {
    padding-top: 15px;
    color: #732953;
}
/* set device position to right of the page */
.add-device {
    position: absolute;
    top: 0px;
    right: -10%;
}
