<!--loop through checkIn array in each device array-->
<div class="row">
    <div class="col-lg-12">
        <div ng-repeat="devicesIn in device">
            <div ng-repeat="checkIn in devicesIn.checkIn">
                <table class="table">
                    <tr>
                        <td>{{checkIn.email}}</td>
                        <td>{{checkIn.device}}</td>
                        <td>{{checkIn.date}}</td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</div>

