<div class="row">
    <div class="col-lg-12">
        <a class="btn btn-info text-center checkout-click add-device" href="#/add-device">Add Device</a>
        <!--Handlebar template for list of devices -->
        <table class="table">
            <thead>
            <tr>
                <th>Device</th>
                <th class="hidden-xs hidden-sm">Email</th>
                <th class="hidden-xs hidden-sm">Status</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="device in devices" multitple="true">
                <td class="device-name">{{device.name}}</td>
                <td class="hidden-xs hidden-sm email">
                    <p ng-repeat="checkOut in device.checkOut">
                        {{checkOut.email}}
                    </p>
                </td>
                <td>
                    <button class="btn btn-info text-center checkout-click" ng-click="device.checkOut ? $parent.checkIn(device, $index, device.$id) : $parent.checkOut(device, $index)">{{device.checkOut ? setText(device.$id) : $parent.btnText2}}</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>